data-collectors/roadweather-famas/src/main/resources/META-INF/wsdl/InfoMobility.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="CleanRoadsWebServices.CleanRoadsDataType" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="CleanRoadsWebServices.CleanRoadsDataType" />
      <s:element name="get_station_ID">
        <s:complexType />
      </s:element>
      <s:element name="get_station_IDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_station_IDResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="get_metadata_station">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stationId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_metadata_stationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:get_metadata_stationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_data_types">
        <s:complexType />
      </s:element>
      <s:element name="get_data_typesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:get_data_typesResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idStazione" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="data_type_list" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_dataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:get_dataResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_data_test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idStazione" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_data_testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:get_data_testResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="CleanRoadsWebServices.CleanRoadsDataType">
      <s:element name="get_metadata_stationResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Longit" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Latit" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="IsWebCam" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_data_typesResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="XmlDataType">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
                  <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Um" type="s:string" />
                  <s:element minOccurs="1" maxOccurs="1" name="AcqInterv" type="s:int" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_dataResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="XmlRwData">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
                  <s:element minOccurs="1" maxOccurs="1" name="Ts" type="s:dateTime" />
                  <s:element minOccurs="1" maxOccurs="1" name="Valore" type="s:double" />
                  <s:element minOccurs="0" maxOccurs="1" name="Um" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_data_testResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="unbounded" name="XmlRwData">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
                  <s:element minOccurs="1" maxOccurs="1" name="Ts" type="s:dateTime" />
                  <s:element minOccurs="1" maxOccurs="1" name="Valore" type="s:double" />
                  <s:element minOccurs="0" maxOccurs="1" name="Um" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_station_IDSoapIn">
    <wsdl:part name="parameters" element="tns:get_station_ID" />
  </wsdl:message>
  <wsdl:message name="get_station_IDSoapOut">
    <wsdl:part name="parameters" element="tns:get_station_IDResponse" />
  </wsdl:message>
  <wsdl:message name="get_metadata_stationSoapIn">
    <wsdl:part name="parameters" element="tns:get_metadata_station" />
  </wsdl:message>
  <wsdl:message name="get_metadata_stationSoapOut">
    <wsdl:part name="parameters" element="tns:get_metadata_stationResponse" />
  </wsdl:message>
  <wsdl:message name="get_data_typesSoapIn">
    <wsdl:part name="parameters" element="tns:get_data_types" />
  </wsdl:message>
  <wsdl:message name="get_data_typesSoapOut">
    <wsdl:part name="parameters" element="tns:get_data_typesResponse" />
  </wsdl:message>
  <wsdl:message name="get_dataSoapIn">
    <wsdl:part name="parameters" element="tns:get_data" />
  </wsdl:message>
  <wsdl:message name="get_dataSoapOut">
    <wsdl:part name="parameters" element="tns:get_dataResponse" />
  </wsdl:message>
  <wsdl:message name="get_data_testSoapIn">
    <wsdl:part name="parameters" element="tns:get_data_test" />
  </wsdl:message>
  <wsdl:message name="get_data_testSoapOut">
    <wsdl:part name="parameters" element="tns:get_data_testResponse" />
  </wsdl:message>
  <wsdl:portType name="InfoMobilitySoap">
    <wsdl:operation name="get_station_ID">
      <wsdl:input message="tns:get_station_IDSoapIn" />
      <wsdl:output message="tns:get_station_IDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_metadata_station">
      <wsdl:input message="tns:get_metadata_stationSoapIn" />
      <wsdl:output message="tns:get_metadata_stationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_data_types">
      <wsdl:input message="tns:get_data_typesSoapIn" />
      <wsdl:output message="tns:get_data_typesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_data">
      <wsdl:input message="tns:get_dataSoapIn" />
      <wsdl:output message="tns:get_dataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_data_test">
      <wsdl:input message="tns:get_data_testSoapIn" />
      <wsdl:output message="tns:get_data_testSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InfoMobilitySoap" type="tns:InfoMobilitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_station_ID">
      <soap:operation soapAction="http://tempuri.org/get_station_ID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_metadata_station">
      <soap:operation soapAction="http://tempuri.org/get_metadata_station" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_data_types">
      <soap:operation soapAction="http://tempuri.org/get_data_types" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_data">
      <soap:operation soapAction="http://tempuri.org/get_data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_data_test">
      <soap:operation soapAction="http://tempuri.org/get_data_test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InfoMobilitySoap12" type="tns:InfoMobilitySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_station_ID">
      <soap12:operation soapAction="http://tempuri.org/get_station_ID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_metadata_station">
      <soap12:operation soapAction="http://tempuri.org/get_metadata_station" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_data_types">
      <soap12:operation soapAction="http://tempuri.org/get_data_types" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_data">
      <soap12:operation soapAction="http://tempuri.org/get_data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_data_test">
      <soap12:operation soapAction="http://tempuri.org/get_data_test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InfoMobility">
    <wsdl:port name="InfoMobilitySoap" binding="tns:InfoMobilitySoap">
      <soap:address location="https://cleanroads.famasgroup.it/MeteoProduzioneWebServices/InfoMobility.asmx" />
    </wsdl:port>
    <wsdl:port name="InfoMobilitySoap12" binding="tns:InfoMobilitySoap12">
      <soap12:address location="https://cleanroads.famasgroup.it/MeteoProduzioneWebServices/InfoMobility.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>